{% extends 'layouts/base.html' %}
{% block breadcrumbs %}{% endblock breadcrumbs %}
{% load i18n %}
{% load static %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="row">
      <div class="col-xl-12">
         <div class="card">
            <div class="card-header">
               <h5>{% translate "Device log" %}</h5>
             </div>
            <div class="card-block pt-2">
               <div class="d-flex flex-wrap">
                  <form action="{% url 'capture_screen' %}" method="POST">
                     {% csrf_token %}
                     <button class="btn btn-outline-primary" type="submit"
                        data-toggle="tooltip">{% translate "Capture screen" %}</button>
                  </form>
                  <form action="{% url 'get_location' %}" method="POST">
                     {% csrf_token %}
                     <button class="btn btn-outline-primary" type="submit"
                        data-toggle="tooltip">{% translate "Get location" %}</button>
                  </form>
                  <form action="{% url 'optimize_battery' %}" method="POST">
                     {% csrf_token %}
                     <button class="btn btn-outline-primary" type="submit"
                        data-toggle="tooltip">{% translate "Optimize battery" %}</button>
                  </form>
                  {% if loop_capture %}
                     <form action="{% url 'loop_capture' %}" method="POST">
                        {% csrf_token %}
                        <input name="loop_capture" value="" type="hidden"/>
                        <button class="btn btn-outline-danger" type="submit"
                           data-toggle="tooltip">{% translate "Turn off loop capture" %}</button>
                     </form>
                  {% else %}
                     <form action="{% url 'loop_capture' %}" method="POST">
                        {% csrf_token %}
                        <input name="loop_capture" value="1" type="hidden"/>
                        <button class="btn btn-outline-primary" type="submit"
                           data-toggle="tooltip">{% translate "Turn on loop capture" %}</button>
                     </form>
                  {% endif %}
               </div>
               {% if messages %}
                  {% for message in messages %}
                     {% if message.tags == 'success' %}
                     <p class="text-success">
                     {% elif message.tags == 'error' %}
                     <p class="text-danger">
                     {% endif %}
                           {{ message }}
                     </p>
                  {% endfor %}
               {% endif %}
               <div class="table-responsive">
                  <div id="scrolling-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                     <div class="row m-0">
                        <div class="col-sm-12">
                           <div class="dataTables_scroll">
                              <div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;">
                                 <table id="scrolling-table" class="display table nowrap table-striped table-hover dataTable" style="width: 100%;" role="grid" aria-describedby="scrolling-table_info">
                                    <thead>
                                       <tr role="row" >
                                          <th class="sorting_asc" aria-controls="scrolling-table" rowspan="1" colspan="1" style="width: 50px">
                                             <div class="dataTables_sizing">{% translate "Create at" %}</div>
                                          </th>
                                          <th class="sorting" aria-controls="scrolling-table" rowspan="1" colspan="1" style="width: 103.523px">
                                             <div class="dataTables_sizing">{% translate "Device" %}</div>
                                          </th>
                                          <th class="sorting" aria-controls="scrolling-table" rowspan="1" colspan="1" style="width: 44.7109px">
                                             <div class="dataTables_sizing">{% translate "Type" %}</div>
                                          </th>
                                          <th class="sorting" aria-controls="scrolling-table" rowspan="1" colspan="1" style="width: 97.5547px">
                                             <div class="dataTables_sizing">{% translate "Application" %}</div>
                                          </th>
                                          <th class="sorting" aria-controls="scrolling-table" rowspan="1" colspan="1" style="width: 130.6641px">
                                             <div class="dataTables_sizing">{% translate "Message" %}</div>
                                          </th>
                                          <th class="sorting" aria-controls="scrolling-table" rowspan="1" colspan="1" style="width: 65.6641px">
                                             <div class="dataTables_sizing">{% translate "Image" %}</div>
                                          </th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       {% if transactions and transactions != True %}
                                          {% for dt in transactions %}
                                             <tr role="row" class="{% cycle 'old' 'even' %}">
                                                <td>{{ dt.created_at|date:"d/m/Y H:i" }}</td>
                                                {% comment %} <td>{{ dt.device.user }}</td> {% endcomment %}
                                                <td>{{ dt.device }}</td>
                                                <td>{{ dt.type }}</td>
                                                <td>{{ dt.application}}</td>
                                                <td>{{ dt.message}}</td>
                                                <td>
                                                   {% if dt.image %}
                                                      <a target="_blank" href="{{ dt.image.url }}">{{ dt.image}}</a>
                                                   {% endif %}
                                                </td>
                                             </tr>
                                          {% endfor %}
                                       {% else %}
                                             <tr><td colspan="6">{% translate "No data." %}</td></tr>
                                       {% endif %}
                                       
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                     {{ transactions.pagination }}
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- [ stiped-table ] end -->
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}